@model WebAppDemo.Models.Classes.MemberCategory
    @{
        ViewBag.Title = "AddCategory";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
<br />
<h2 style="margin-left:20px">Kategori Ekle</h2>
<br />
<form class="form-group" method="post" style="margin-left:20px">
    @Html.LabelFor(x => x.CategoryName)
    @Html.TextBoxFor(x => x.CategoryName, new {@class = "form-control"})
    <br />
    <button class="btn btn-info" >Kaydet</button>
</form>
