
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class=" table table-bordered" style="margin-left:20px;margin-top:20px;margin-right:20px">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Vip</td>
    </tr> <tr>
        <td>2</td>
        <td>Normal</td>
    </tr>
</table>
<button class="btn d-block btn-primary" style="margin-left:20px" >New Category</button>
